{% extends "base.html" %}

{% block content %}
{% if page.nb_url %}

    {% macro transform_url(url) %}
        {%- set parsed_url = url.split("/") -%}
        {%- set base_url = ["https:", "","githubtocolab.com","ML-boot-camp","sessions","blob","main","docs"] -%}
        {%- set nb_folder = [parsed_url[-3]] -%}
        {%- set nb_filename = [parsed_url[-1]] -%}
        {%- set new_url = base_url + nb_folder + nb_filename -%}
        {{ new_url|join("/") }}
    {% endmacro %}

    <a href="{{ page.nb_url }}" title="Download" class="md-content__button md-icon">
        {% include ".icons/material/download.svg" %} Download
    </a>
    <a href="{{ transform_url(page.nb_url) }}" title="Open in colab" class="md-content__button md-icon">
        {% include ".icons/material/rocket-launch.svg" %} Open in colab
    </a>
{% endif %}

{{ super() }}
{% endblock content %}
